
html, body {
  height: 100%; /* Make sure the body takes up the full height */
  margin: 0;    /* Remove default margin */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;  
  background-color: #A1BE95; 
}

