/* Ensure the body and html fill the screen */
html, body {
  height: 100%; /* Full height for the body and html */
  margin: 0;    /* Remove any default margin */
  padding: 0;   /* Remove any default padding */
  display: flex;     /* Use flexbox for centering */
  flex-direction: column;

}

#root {
  height: 100%; /* Full height for the root element */
  display: flex; /* Flexbox to align child components */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  background-color:#A1BE95;  /* Center vertically */
  
}
